$bg: #e5e5e5;
$dark: #121212;
$light: #ffffff;
$grey: #a6a6a6;
$bg-btn: #e4c1ae;
$bg-popup: #1212127b;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $bg;
}

main {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

h1,
h2,
p {
  color: $dark;
}

h1,
h2 {
  font-weight: 700;
  font-size: 32px;
}

p {
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}

button {
  width: min-content;
  height: min-content;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.task {
  max-width: 650px;
  margin-top: 96px;
  &__picture {
    max-width: 600px;
  }
  &__content {
    padding: 20px 0;
  }
  &__description {
    padding: 16px 0 24px;
  }
  &__btn-open-popup {
    padding: 16px 40px;
    background-color: $bg-btn;
    border-radius: 32px;
    color: $light;
    &:hover {
      background-color: darken($bg-btn, 5%);
    }
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $bg-popup;
  &.active{
    display: flex;
  }
  &__content {
    width: 1100px;
    max-width: 100%;
    position: relative;
    background-color: $light;
    padding: 16px;
  }
  &__alert-info {
    display: flex;
    align-items: center;
    padding: 16px 0 24px;
  }
  &__btn-reset{
    padding: 4px 16px;
    background-color: $grey;
    border-radius: 8px;
    color: $light;
    margin-left: 8px;
    display: none;
    &:hover {
      background-color: darken($grey, 5%);
    }
    &.active{
      display: block;
    }
  }
  &__number {
    font-weight: 700;
  }
  &__btn-close-popup {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px;
    font-size: 20px;
    background-color: transparent;
    &:hover {
      background-color: darken($light, 5%);
    }
  }
  &__table-container {
    width: 100%;
    box-shadow: 0px 0px 10px -5px rgba(112, 112, 113, 1);
    max-height: 400px;
    overflow: auto;
    table {
      padding: 5px;
      border-collapse: collapse;
      min-width: 100%;
      font-size: 14px;
      thead {
        background-color: $grey;
        color: $light;
        position: sticky;
        top: 0px;
      }
      th,
      td {
        padding: 8px 12px;
        text-align: center;
      }

      td {
        border: 1px solid $dark;
      }
    }
  }
}

.loading {
  display: none;
  justify-content: center;
  &::after {
    content: '';
    width: 50px;
    height: 50px;
    border: 10px solid darken($light, 5%);
    border-top-color: $grey;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s linear infinite;
  }
  &.active{
    display: flex;
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

//task section media queries
@media screen and (min-width: 500px) {
  main {
    padding: 0 32px;
  }
  .task {
    &__description {
      padding: 20px 0 28px;
    }
  }
  h1,
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  .task {
    max-width: 1440px;
    gap: 5%;
    display: flex;
    justify-content: center;
    &__content {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .popup {
    &__content {
      padding: 40px;
    }
  }
  h1,
  h2 {
    font-size: 42px;
  }
}
